<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:src="@{/scripts/web/proveedores/frmproveedor.js}"></script>
<nav th:replace="~{layout::menu}"></nav>
<div class="container">
    <h1>Lista de proveedores</h1>
    <button id="btnnuevo" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Nuevo
    </button>
    <table id="tblproveedor" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id proveedor</th>
            <th scope="col">Nombre</th>
            <th scope="col">Pais</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proveedor:${listaProveedores}">
            <th th:text="${proveedor.idproveedor}" scope="row"></th>
            <td th:text="${proveedor.nomproveedor}"></td>
            <td th:text="${proveedor.pais.nompais}"></td>
            <td th:text="${proveedor.direccion}"></td>
            <td th:text="${proveedor.telefono}"></td>
            <td th:text="${proveedor.correo}"></td>
            <td>
                <button class="btn btn-info btnactualizar"
                        th:data-idproveedor="${proveedor.idproveedor}"
                        th:data-nomproveedor="${proveedor.nomproveedor}"
                        th:data-pais="${proveedor.pais.idpais}"
                        th:data-direccion="${proveedor.direccion}"
                        th:data-telefono="${proveedor.telefono}"
                        th:data-correo="${proveedor.correo}">
                    <i class="bi bi-pencil-square"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="modalproveedor" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <form id="proveedor_form" class="modal-content">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="txtnomproveedor" class="form-label">Nombre Proveedor</label>
                <input type="text" class="form-control" id="txtnomproveedor">
                <label for="cbopais" class="form-label">País:</label>
                <select id="cbopais" class="form-select"
                        aria-label="Default select example">
                    <option selected>Open this select menu</option>
                </select>
                <label for="txtdireccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="txtdireccion">
                <label for="txttelefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="txttelefono">
                <label for="txtcorreo" class="form-label">Correo</label>
                <input type="text" class="form-control" id="txtcorreo">
                <input type="hidden" class="form-control" id="hddnidproveedor">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cerrar
                </button>
                <button id="btnguardar" type="button" class="btn btn-primary">
                    <i class="bi bi-floppy"></i> Guardar
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
<script th:src="@{/scripts/lib/notiflix-aio-3.2.6.min.js}"></script>
<script th:src="@{/scripts/jquery/jquery.validate.min.js}"></script>
<script>
    $("#proveedor_form").validate({
        rules: {
            txtnomproveedor: {
                required: true,
                minlength: 2
            },
            cbopais: {
                required: true,
            },
            txtdireccion: {
                required: true,
                minlength: 2
            },
            txttelefono: {
                required: true,
                minlength: 2
            },
            txtcorreo: {
                required: true,
                minlength: 2
            }
        },
        messages: {
            txtnomproveedor: {
                required: "Por favor, introduce un nombre de proveedor",
                minlength: "El nombre de proveedor debe tener al menos 2 caracteres"
            },
            txtpais: {
                required: "Por favor, selecione un país",
            },
            txttelefono: {
                required: "Por favor, introduce una ciudad",
                minlength: "La telefono debe tener al menos 2 caracteres"
            },
            txtdireccion: {
                required: "Por favor, introduce una ciudad",
                minlength: "La contraseña debe tener al menos 2 caracteres"
            },
            txtcorreo: {
                required: "Por favor, introduce los nombres",
                minlength: "Los nombres deben tener al menos 2 caracteres"
            },
        }
    });
</script>
</body>
</html>