<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/styles/font/bootstrap-icons.css}">
    <script th:src="@{/scripts/bootstrap/bootstrap.bundle.js}"></script>
    <script th:src="@{/scripts/jquery/jquery.js}"></script>
</head>
<body>
<nav th:fragment="menu" class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">VG INTEGRADORES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clientes/cliente/frmcliente}">Clientes</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Adminsitración
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"  th:href="@{/auth/frmusuario}">Gestión de Usuarios</a></li>
                        <li><a class="dropdown-item" th:href="@{/administracion/estado/frmestado}">Estados</a></li>
                        <li><a class="dropdown-item" th:href="@{/administracion/rol/frmrol}">Roles</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestión Productos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/productos/producto/frmproducto}">Productos</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos/marca/frmmarca}">Marcas</a></li>
                        <li><a class="dropdown-item" th:href="@{/productos/categoria/frmcategoria}">Categorias</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/cotizaciones/frmcotizaciones}">Cotizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/paises/frmpais}">Pais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/proveedores/frmproveedor}">Proveedor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/auth/logout}">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>